.station {
    display: grid;
    grid-template-areas: "station-name station-name"
                         "eastbound westbound";
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 1fr;
    grid-column-gap: 10px;

    margin: 10px 50px 30px 50px;

    min-height: 600px;
    max-height: 800px;
}

.station-name {
    grid-area: station-name;
    text-align: center;
    font-weight: bold;
}

.eastbound {
    grid-area: eastbound;
}

.westbound {
    grid-area: westbound;
}